.main_body{
    background-color: antiquewhite;
}

.NameHeading{
    text-align: center;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}

.normal_heading{
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, .8);
}

.label_main{
    font-weight: bold;
    text-decoration: underline;
}

.intro_main{
    /*Structure*/
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    background-color: #338888;
    padding: 30px;

    /*Style*/
    color: azure;
    border-radius: 4px;
}

.games_main{
    /*Structure*/
    text-align: center;
    background-color: #338888;
    border-radius: 4px;
    padding: 30px;
    margin-top: 20px;

    /*Style*/
    font-family: 'Lato', sans-serif;
    color: azure;
}