.main_body{
    background-color: antiquewhite;
}

.NameHeading{
    text-align: center;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}

.intro_main{
    /*Structure*/
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    background-color: #338888;
    padding: 30px;

    /*Style*/
    color: azure;
    border-radius: 4px;
}