.NameHeading{
    text-align: center;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;

}

.intro_main{
    /*Structure*/
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    background-color: #338888;

    /*Style*/
    color: azure;
    border-radius: 4px;
}